CREATE TABLE {{ database_name }}.{{ schema_name }}.{{ table_name }} (
    {% for column in columns -%}
    {{ column.name }} {{ column.type }}{% if not loop.last %},{% endif %}
    {%- endfor %}
);
